/* css/style.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #353935;
  --green: #98fb98;
  --lightgrey: rgb(172, 161, 161);
  --font-body: "Roboto", sans-serif;
  --font-display: "Orbitron", sans-serif;
  --gap: 0.5rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    180deg,
    rgba(152, 158, 203, 1) 0%,
    rgba(238, 174, 147, 1) 100%
  );
  min-height: 100vh;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header,
footer {
  text-align: center;
  padding: 1rem;
}
header h1 {
  font-family: var(--font-display);
}
main {
  width: 100%;
}
.calculator {
  width: 80%;
  max-width: 1000px;
  background-color: rgba(35, 31, 31, 0.4);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
}
.screen-display {
  background-color: var(--green);
  color: var(--black);
  font-family: var(--font-display);
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  padding: var(--gap);
  min-height: 3rem;
  overflow-wrap: break-word;
}
.keypanel ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
  grid-template-areas:
    "seven eight nine division"
    "four five six multiplication"
    "one two three subtraction"
    "pm zero comma addition"
    "clear back equals equals";
}
.key {
  background-color: var(--lightgrey);
  border: 1px solid var(--black);
  border-radius: 0.25rem;
  padding: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.1s;
  user-select: none;
}
.key:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.key.seven {
  grid-area: seven;
}
.key.eight {
  grid-area: eight;
}
.key.nine {
  grid-area: nine;
}
.key.division {
  grid-area: division;
}
.key.four {
  grid-area: four;
}
.key.five {
  grid-area: five;
}
.key.six {
  grid-area: six;
}
.key.multiplication {
  grid-area: multiplication;
}
.key.one {
  grid-area: one;
}
.key.two {
  grid-area: two;
}
.key.three {
  grid-area: three;
}
.key.subtraction {
  grid-area: subtraction;
}
.key.pm {
  grid-area: pm;
}
.key.zero {
  grid-area: zero;
}
.key.comma {
  grid-area: comma;
}
.key.addition {
  grid-area: addition;
}
.key.clear {
  grid-area: clear;
}
.key.back {
  grid-area: back;
}
.key.equals {
  grid-area: equals;
}

@media (min-width: 768px) {
  .screen-display {
    font-size: 2.5rem;
    min-height: 4rem;
  }
  .key {
    font-size: 2rem;
  }
}
